# Everything ignored by default - files must be explicitly NOT ignored
*

!.pre-commit-config.yaml
!.github/
!.github/workflows/
!.github/workflows/ci.yml
!.github/workflows/publish.yml
!.github/workflows/docs.yml

!rdcanon/
!rdcanon/askcos_prims.py
!drugbank_prims_with_nots.py
!main.py
!np_prims.py
!pubchem_prims.py
!rec_util.py
!token_parser.py
!util.py

!tests/
!tests/rdcanon_tests.py