# Everything ignored by default - files must be explicitly NOT ignored
*

!.pre-commit-config.yaml
!.github/
!.github/workflows/
!.github/workflows/ci.yml
!.github/workflows/publish.yml
!.github/workflows/docs.yml

!.gitignore
!.gitattributes
!LICENSE
!README.md
!mkdocs.yml
!pyproject.toml

!rdcanon/
!rdcanon/askcos_prims.py
!rdcanon/drugbank_prims_with_nots.py
!rdcanon/main.py
!rdcanon/np_prims.py
!rdcanon/pubchem_prims.py
!rdcanon/rec_util.py
!rdcanon/token_parser.py
!rdcanon/util.py

!docs/
!docs/stylesheets/
!docs/stylesheets/extra.css
!docs/index.md
!docs/contributing.md
!docs/reference.md

!tests/
!tests/rdcanon_tests.py

!examples/
!examples/example_notebook.ipynb